 
.container {
   
    max-width: 1300px;
    margin: 80px auto;
    margin-top: 30px; 
  }
  
 body{
   background-color: #ffffff;
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}


  

 .title{
  display: flex;
  justify-content: center;
  
  font-size: 38px;
   
 }

 

.heading{
   background-color: #ff930f;        /*#f7f699dc*/ /* orange -yellow FCDB6D*/ /*previous banner (orange) - ffae2d*/
   color: #911802; /*rgb(170, 126, 69) 852b01 - brown */
   padding-top: 40px;
   padding-bottom: 35px;
   padding-left: 7px;
   padding-right: 7px; 
   border-radius: 14px;
   display: flex; 
   justify-content: center;
}


.tabs{
  display:flex;
  justify-content: space-evenly;
}

.tabopen{
  background-color: #1c8bb8;
  color:#ffffff;
  text-decoration: none;
  font-size: 16px; 
  padding: 20px; 
  border-radius: 14px;


}


.tabopen:hover{
  background-color: #073f88; 
}


.tabopen.active{
  background-color: #3c0663;
}


 .firstrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #1a60a1; /*B9DC5F*//*fdb3b2e3*/  /*87a330 - olive green*/
   transform: rotate(138deg);
   /* background-position: 14px;
   position:relative;  */
   margin-top: -720px; 
   margin-left: -31px; 
   float:left; 

   
   /* 8d0a36 - magenta*/
   /* lilac - f1b3ff*/
   /*orange - FFAA33 */ 
   /*magenta - #985277*/
}


.secondrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #0d5d85; /*B9DC5F*//*fdb3b2e3*/ 
   transform: rotate(138deg);
   float:right;

}



.introduction{
   
   
   background-color: #007599;
   color: #ffffff;
   border: 4px dashed #073f88; 
   border-radius: 3px;
   margin-top: 100px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
   
}



  

  .image {
   height: 300px; 
   width: 300px; 
   border: 8px dotted #0a8805;
   float: left; 
   margin-left: 45px;
   margin-top: 60px; 
   
  }

  


  .skillset{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none; 
   background-color: #7cc754;
   margin-left: -25px; 
   margin-right: -25px;
 }

 .skillset li{
   color: #ffffff;
   background-color: #4da021;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 6px;
   padding-bottom: 6px;
   border-radius: 4px;
   border: 2px inset #25aa20; 
   margin-top: 26px; 
   margin-bottom: 26px;
 }

 h3{
  display: flex;
  justify-items: center;
  margin-left: 620px;
  margin-top: 120px;
  color: #317e08; 
  font-size: 25px;
}
  
h4{
  display: flex; 
  justify-items: center; 
  margin-left: 620px;
  margin-top: 90px; 
  color: #b8530b; /*d66413*/
  font-size: 25px; 

}


#resume{
  display: flex; 
  justify-content: center;
  background-color: #f16900; /*ff6d00 */
  border-radius: 6px;
  border: 4px dotted #911802;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#ffffff; 
}
 

  
 





/* background colors

b75d69 - Orchid purple
e5989b - Pink purple
ffbf69   ff9b54  ffd48f- Peach
ff8c61 - Salmon pink


rectangle colors

#b35d8a - purple
#023047 - navy blue

#d46103 - dark orange (for heading) 


*/