 
.container {
    /* width: 95wv; */
    max-width: 1300px;
    margin: 80px auto;
    margin-top: 30px; 
  }
  
 body{
   background-color: #ffffff;
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}



 section nav ul {
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none;  
   

 }


 section nav ul a {
   background-color: #0d5d85;
   text-decoration: none;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 8px;
   color: #fffdf9;
   font-size: 1.0rem;

 }
  

 .title{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 38px;
   
 }

 

.heading{
   background-color: #ff930f;        /*#f7f699dc*/ /* orange -yellow FCDB6D*/ /*previous banner (orange) - ffae2d*/
   color: #911802; /*rgb(170, 126, 69) 852b01 - brown */
   padding-bottom: 35px;
   padding-left: 7px;
   padding-right: 7px; 
   border-radius: 14px;
   display: flex; 
   justify-content: center;
}

.firstrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #1a60a1; /*B9DC5F*//*fdb3b2e3*/ /*208b3a - green*/ /*87a330 - olive green*/
   transform: rotate(138deg);
   /* background-position: 14px;
   position:relative;  */
   margin-top: -720px; 
   margin-left: -31px; 
   float:left; 

   
   /* 8d0a36 - magenta*/
   /* lilac - f1b3ff*/
   /*orange - FFAA33 */ 
   /*magenta - #985277*/
}


.secondrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #0d5d85; /*B9DC5F*//*fdb3b2e3*/ 
   transform: rotate(138deg);
   margin-top: -635px; 
   margin-right: -31px;
   float:right;

}



.introduction{
   
   /* background-position: 4px; */
   
   background-color: #007599;
   color: #ffffff;
   border: 4px dashed #073f88; 
   border-radius: 3px;
   margin-top: 140px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 16px;
   /* background-color: #023e8a; */
   /* margin-left: 340px;
   margin-right: 220px; */
   
}


.dot1 {
    border-top: 8px dotted #0a8805;
    width: 300px; 
    /* padding-bottom: 50px;
    margin-top: -460px;  */
    margin-left: 40px;  

  }

  .dot2 {
    border-top: 8px dotted #0a8805;
    width: 300px; 
    /* padding-bottom: 50px;
    margin-top: 230px; */
    margin-left: 40px;  

  }

  .image img{
   height: 300px; 
   width: 300px; 
   /* float: left; 
   margin-top: -70px;*/
   margin-left: 40px; 
  }

  .imagelayout{
  
  margin-top: -700px;
  margin-left: 180px;
} 


  .skillset{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none; 
   background-color: #7cc754;
   margin-left: -25px; 
   margin-right: -25px;
 }

 .skillset li{
   color: #ffffff;
   background-color: #4da021;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 6px;
   padding-bottom: 6px;
   border-radius: 4px;
   border: 2px inset #25aa20; 
   margin-top: 26px; 
   margin-bottom: 26px;
 }

 h3{
  display: flex;
  justify-items: center;
  margin-left: 620px;
  margin-top: 120px;
  color: #317e08; 
  font-size: 25px;
}
  

 

  
 





/* background colors

b75d69 - Orchid purple
e5989b - Pink purple
ffbf69   ff9b54  ffd48f- Peach
ff8c61 - Salmon pink


rectangle colors

#b35d8a - purple
#023047 - navy blue

#d46103 - dark orange (for heading) 


*/