 
.container {
   
    max-width: 1300px;
    /* margin: 20px auto; */
  }
  
 body{
   background-color: #fff0f3;
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}


  
 .title{
  display: flex;
  justify-content: center;
  
  font-size: 38px;
   
 }

 

.heading{
   background-color: #ffc2d9;         
   color: #911802; 
   margin-top: 2px;
   padding-top: 40px;
   padding-bottom: 35px;
   padding-left: 7px;
   padding-right: 7px; 
   border-radius: 14px;
   display: flex; 
   justify-content: center;
}


.tabs{
  display:flex;
  justify-content: space-evenly;
  background-color: #7c131a;
}

.tabopen{
  
  color:#ffffff;
  background-color: #7c131a;
  text-decoration: none;
  font-size: 16px; 
  padding: 20px; 
  border-radius: 14px;


}


.tabopen:hover{
  background-color: #c9184A; 
}


.tabopen:active{
  background-color: #d62e5e;
}


 .firstrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #1a60a1; /*B9DC5F*//*fdb3b2e3*/  /*87a330 - olive green*/
   transform: rotate(138deg);
   /* background-position: 14px;
   position:relative;  */
   margin-top: -720px; 
   margin-left: -31px; 
   float:left; 

   
   /* 8d0a36 - magenta*/
   /* lilac - f1b3ff*/
   /*orange - FFAA33 */ 
   /*magenta - #985277*/
}


.secondrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #0d5d85; /*B9DC5F*//*fdb3b2e3*/ 
   transform: rotate(138deg);
   float:right;

}



.introduction{
   
   
   background-color: #fccce2;
   color: #911802;
   border: 4px dashed #a1073d; 
   border-radius: 3px;
   margin-top: 81px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
   
}



  

  .image {
   height: 300px; 
   width: 300px; 
   border: 5px dotted #a1073d;
   float: left; 
   margin-left: 45px;
   margin-top: 60px; 
   
  }

  


  .skillset{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none; 
   background-color: #c75463;
   margin-left: 120px; 
   margin-right: 120px;
 }

 .skillset li{
   color: #ffffff;
   background-color: #a13140;
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 6px;
   padding-bottom: 6px;
   border-radius: 4px;
   border: 2px inset #95192a; 
   margin-top: 26px; 
   margin-bottom: 26px;
 }

 .skillset li:hover{
  box-shadow: 5px 5px #840c1c;
 }

 h3{
  display: flex;
  justify-items: center;
  margin-left: 560px;
  margin-top: 120px;
  color: #a13140; 
  font-size: 25px;
}
  
h4{
  display: flex; 
  justify-items: center; 
  margin-left: 564px;
  margin-top: 90px; 
  color: #a13140; /*d66413*/
  font-size: 25px; 

}

#contact-info{
  display: flex; 
  justify-items: center;
  background-color:#7c131a;
  border: 3px dashed #7c0515; 
  color: #ffffff; 
  margin-left: -10px; 
  margin-right: -10px;
  margin-bottom: -10px;
  padding-top: 20px; 
  padding-bottom: 20px; 
  padding-right: 20px; 
  padding-left: 60px; 
  font-size: 17px;
  
}

#contact-info a{
  color:#ffd1d3fb;
}


 

  
 





/* background colors

b75d69 - Orchid purple
e5989b - Pink purple
ffbf69   ff9b54  ffd48f- Peach
ff8c61 - Salmon pink


rectangle colors

#b35d8a - purple
#023047 - navy blue

#d46103 - dark orange (for heading) 


*/