 
:root{
  --body-background-color: #fff0f3; 
  --second-background-color: #ffdbe2; /* ffe2e8*/
  --third-background-color: #fff7e0; 
  --second-yellow-color: #fceec9;
  --heading-color-maroon: #7c131a;
  --first-red-color: #840c1c;
  --second-red-color: #8f1525; 
  --first-pink-color: #a13140; 
  --second-pink-color: #c75463;
  --third-pink-color: #E64A6C; 
  --fourth-pink-color: #fccce2; 
  --first-brown-color: #653c26;
  --second-brown-color: #7e4923; 
  --third-brown-color: #BD7E51; 
  --first-text-color: #ffff; 
}




  
 body{
   background-color: var(--body-background-color);
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}



  main{
    background-color: var(--second-background-color);
    width: 1076px; 
    margin: 10px auto; 
    display: grid; 
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px; 
    padding: 20px;
  }

  
  
 .title{
  display: flex;
  justify-content: center;
  font-size: 38px;
   
 }

 

.heading{
   background-color: var(--heading-color-maroon);         
   color: var(--third-background-color); 
   grid-column-start: 1;
   grid-column-end: 13; 
   grid-row-start: 1;
   grid-row-end: 2; 
   padding: 20px;
   border-radius: 2px;
}


.tabs{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  display:flex;
  justify-content: space-evenly;
  background-color: var(--first-brown-color);
  margin-top: -20px;
}

.tabopen{
  
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  color:var(--third-background-color);
  background-color: var(--first-brown-color);
  text-decoration: none;
  font-size: 16px; 
  font-weight: 600;
  padding: 20px; 
  border-radius: 14px;


}


.tabopen:hover{
  background-color: var(--second-red-color); 
}


.tabopen:active{
  background-color: #d62e5e;
}




.introduction{
   
   grid-column-start: 5;
   grid-column-end: 13;
   grid-row-start: 5;
   grid-row-end: 6;
   background-color: var(--fourth-pink-color);
   color: var(--first-red-color);
   border: 4px dashed #a1073d; 
   border-radius: 3px;
   font-size: 15px;
   font-weight: 600;
   padding: 20px;
   
}



  .image {
  
   grid-column-start: 1;
   grid-column-end: 5; 
   grid-row-start: 5;
   grid-row-end: 6; 
   height: 300px; 
   width: 300px; 
   border: 5px dotted #a1073d;
  
   
  }

  h3{
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8; 
  color: var(--first-pink-color); 
  font-size: 25px;
}


  .skillset{
   grid-column-start: 1;
   grid-column-end: 13;
   grid-row-start: 9;
   grid-row-end: 10;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none; 
   background-color: var(--second-pink-color);
   border-radius: 6px;
   margin-top: -20px;
 }

 .skillset li{
   grid-column-start: 1;
   grid-column-end: 13;
   grid-row-start: 9;
   grid-row-end: 10;
   color: #ffffff;
   background-color: var(--first-pink-color);
   padding-right: 6px;
   padding-left: 6px;
   padding-top: 6px;
   padding-bottom: 6px;
   border-radius: 4px;
   border: 2px inset var(--first-pink-color); 
   margin-top: 26px; 
   margin-bottom: 26px;
   font-size: 16px;
   font-weight: 500;
 }

 .skillset li:hover{
  box-shadow: 5px 5px #840c1c;
 }

 
  
h4{
  display: flex; 
  justify-items: center; 
  grid-column-start: 6;
  grid-column-end: 10; 
  grid-row-start: 11;
  grid-row-end: 12;
  color: var(--first-brown-color); /*d66413*/
  font-size: 25px; 
  

}




#contact-info{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 13;
  color: var(--third-background-color); 
  background-color: var(--first-brown-color);
  font-size: 17px;
  font-weight: 600;
  padding: 40px;
  margin: -20px;
}

#contact-info a{
  color:var(--second-background-color);
}


 