 
.container {
    width: 95wv;
    max-width: 1100px;
    margin: 80px auto;
  }
  
 


 section nav ul {
   display: flex; 
   flex-direction: row;
   justify-content: space-evenly;
   list-style-type: none;  
   

 }


 section nav ul a {
   background-color: #0d5d85;
   text-decoration: none;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 8px;
   color: #fffdf9;
   font-size: 1.0rem;

 }
  

 .title{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 38px;
   
 }

 

.heading{
   background-color: #ff930f;        /*#f7f699dc*/ /* orange -yellow FCDB6D*/ /*previous banner (orange) - ffae2d*/
   color: #861501; /*rgb(170, 126, 69) 852b01 - brown */
   padding-bottom: 35px;
   padding-left: 7px;
   padding-right: 7px; 
   border-radius: 14px;
   display: flex; 
   justify-content: center;
}

.firstrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #1a60a1; /*B9DC5F*//*fdb3b2e3*/ /*208b3a - green*/ /*87a330 - olive green*/
   background-position: 14px;
   transform: rotate(138deg);
   position:relative; 
   top: -670px; 
   left: -31px; 
   
   /* 8d0a36 - magenta*/
   /* lilac - f1b3ff*/
   /*orange - FFAA33 */ 
   /*magenta - #985277*/
}


.secondrectangle{
   height: 50px; 
   width: 180px; 
   background-color: #0d5d85; /*B9DC5F*//*fdb3b2e3*/ 
   background-position: 14px;
   transform: rotate(138deg);
   position:relative; 
   top: -650px; 
   left: 1180px; 

}


.introduction{
   
   background-position: 4px;
   padding-top: 130px;
   padding-right: 120px;
   padding-left: 460px;
   padding-bottom: 80px;
   font-size: 16px;
   /* background-color: #023e8a; */
   /* margin-left: 340px;
   margin-right: 220px; */
   
}


.h1 {
    border-top: 8px dotted #3d76cc;
    width: 210px; 
    padding-bottom: 50px;
    background-position: 14px;
    position: relative;
    top: -240px; 
    left: 90px; 

  }

  .h2 {
    border-top: 8px dotted #0f5c0d;
    width: 210px; 
    padding-bottom: 50px;
    background-position: 14px;
    position: relative;
    top: -20px; 
    left: 90px; 

  }

  
 /* .headerline{
   height: 10px; 
   width: 1350px; 
   background-color: #852f08;
   background-position: 40px;
   position: fixed; 
   top: 190px; 

}  */


body{
   background-color: #fffdf9;
   font-family:Verdana, Geneva, Tahoma, sans-serif; 
}



/* background colors

b75d69 - Orchid purple
e5989b - Pink purple
ffbf69   ff9b54  ffd48f- Peach
ff8c61 - Salmon pink


rectangle colors

#b35d8a - purple
#023047 - navy blue

#d46103 - dark orange (for heading) 


*/