

:root{
    --body-background-color: #fff0f3; 
    --second-background-color: #ffdbe2; 
    --third-background-color: #fff7e0; 
    --second-yellow-color: #fceec9; 
    --heading-color-maroon: #7c131a; 
    --first-red-color: #840c1c; 
    --second-red-color: #8f1525; 
    --first-pink-color: #a13140; 
    --second-pink-color: #c75463; 
    --third-pink-color: #E64A6C; 
    --fourth-pink-color: #fccce2; 
    --first-brown-color: #653c26; 
    --second-brown-color: #7e4923; 
    --third-brown-color: #BD7E51; 
    --first-text-color: #ffff; 
}


body{
    background-color: var(--body-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main{
    background-color: var(--second-background-color);
    width: 1076px; 
    margin: 10px auto; 
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px; 
    padding: 20px; 

}

.heading{
    background-color: var(--heading-color-maroon);
    color: var(--third-background-color); 
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 38px;
}


.tabs{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--first-brown-color);
    margin-top: -20px;
}


.tabopen{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--third-background-color);
    background-color: var(--first-brown-color);
    text-decoration: none;
    font-size: 16px; 
    padding: 20px; 
    border-radius: 14px;
}

.tabopen:hover{
    background-color: var(--second-red-color); 
}

.tabopen:active{
    background-color: #d62e5e;
}




/* Programming Links */

/* section nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}


section nav ul a{
    background-color: #0d5d85;
    color: #fffdf9;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 1.0rem;
} */


/* Programming section  */

.image{
    height: 220px; 
    width: 300px; 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 5px double rgb(59, 30, 6);
    
}

ul{
    float: left; 
    margin-left: 45px;
    margin-top: 70px; 
    list-style-type: none;
}


.description{
    
   color: #ffffff; 
   background-color: #14213d;
   border: 2px dashed #6b7a99;
   margin-top: 140px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
}

.description a{
    color: #ccbaff;
}


.description-two{

   color: #ffffff; 
   background-color: #14213d;
   border: 2px dashed #6b7a99;
   margin-top: 160px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
}

.description-two a{
    color: #ccbaff;
}

.description-three{
    color: #ffffff; 
   background-color: #14213d;
   border: 2px dashed #6b7a99;
   margin-top: 100px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
}

.description-three a{
    color: #ccbaff;

}


/* End of programming section */


/* Cover Letter Section */


.coverletter{
    color: #ffffff;
    background-color: #14213d;
    border: 4px double #6f80a5;  /* #4f628b */
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 30px;
    margin-top: 60px;  
    margin-left: 280px;
    margin-right: 280px; 

}

/* End of Cover Letter section */


/* Skills and written section */

.writingintroduction{
    color: #ffffff;
    background-color: #14213d;
    border: 3px double #4664a5;
    margin-top: 60px;
    padding: 50px;
    margin-left: 140px; 
    margin-right: 140px;
}

.writingintroduction a{
    color: #b7ceff;
}





/* End of skills and written section */



/* Start of resume section */

.resume-format{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--first-brown-color);
  border: 3px double var(--third-brown-color);
  color: var(--third-background-color);
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 14px;
  margin-right: 100px;
}

.resume-format a{
    color: var(--second-background-color);
}

.resume{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5; 
  background-color: var(--first-brown-color);
  border: 3px double var(--second-brown-color);
  color: var(--third-background-color);
  padding: 20px;
  margin-right: 200px;
}

.resume-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-right: 100px;
}


/* End of resume section */





