
.container{
    max-width: 1300px;
    margin: 80px auto; 
    margin-top: 30px;
}


body{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading{
    background-color: #ff930f;
    color: #911802; 
    padding-top: 40px;
    padding-bottom: 35px;
    padding-right: 7px;
    padding-left: 7px; 
    border-radius: 14px; 
    display: flex; 
    justify-content: center;
}

.title{
    font-size: 38px;
}


.tabs{
    display: flex;
    justify-content: space-evenly;
}


.tabopen{
    background-color: #1c8bb8;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px; 
    padding: 20px; 
    border-radius: 14px;
}

.tabopen:hover{
    background-color: #073f88; 
}




/* Programming Links */

/* section nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}


section nav ul a{
    background-color: #0d5d85;
    color: #fffdf9;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 1.0rem;
} */


/* Programming section  */

.image{
    height: 200px; 
    width: 300px; 
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid rgb(59, 30, 6);
    
}

ul{
    float: left; 
    margin-left: 45px;
    margin-top: 60px; 
    list-style-type: none;
}


.description{
    
   color: #ffffff; 
   background-color: #14213d;
   border: 2px dashed #6b7a99;
   margin-top: 100px;
   margin-left: 450px;
   margin-right: 100px;
   padding-top: 40px;
   padding-right: 80px;
   padding-left: 80px;
   padding-bottom: 40px;
   font-size: 15px;
}

.description a{
    color: #c2acff;
}


/* End of programming section */


/* Cover Letter Section */


.coverletter{
    color: #ffffff;
    background-color: #14213d;
    border: 4px double #6f80a5;  /* #4f628b */
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 30px;
    margin-top: 60px;  
    margin-left: 280px;
    margin-right: 280px; 

}

/* End of Cover Letter section */


/* Skills and written section */

.writingintroduction{
    color: #ffffff;
    background-color: #27143d;
    margin-top: 50px;
    padding: 50px;
    margin-left: 140px; 
    margin-right: 140px;
}

.writingintroduction a{
    color: #b3acd1;
}


.presentationintroduction{
    color: #ffffff;
    background-color: #27143d;
    margin-top: 40px;
    padding: 50px;
    margin-left: 140px; 
    margin-right: 140px;
}

.presentationintroduction a{
    color: #b3acd1;
}



/* End of skills and written section */