
:root{
    --body-background-color: #fff0f3; 
    --second-background-color: #ffdbe2; 
    --third-background-color: #fff7e0; 
    --second-yellow-color: #fceec9; 
    --heading-color-maroon: #7c131a; 
    --first-red-color: #840c1c; 
    --second-red-color: #8f1525; 
    --third-red-color: #62182e; 
    --first-pink-color: #a13140; 
    --second-pink-color: #c75463; 
    --third-pink-color: #E64A6C; 
    --fourth-pink-color: #fccce2; 
    --first-brown-color: #653c26; 
    --second-brown-color: #7e4923; 
    --third-brown-color: #BD7E51; 
    --first-text-color: #ffff; 
}


body{
    background-color: var(--body-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main{
    background-color: var(--second-background-color);
    width: 1076px; 
    margin: 10px auto; 
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px; 
    padding: 20px; 
}


.title{
    display: flex;
    justify-content: center;
    font-size: 38px;
}



.heading{
    background-color: var(--heading-color-maroon);
    color: var(--third-background-color); 
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    border-radius: 2px;
}



.tabs{
    grid-column-start: 1;
    grid-column-end: 13; 
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--first-brown-color);
    margin-top: -20px;
}


.tabopen{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--third-background-color); 
    background-color: var(--first-brown-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    border-radius: 14px;
}


.tabopen:hover {
    background-color: var(--second-red-color);
}


.tabopen:active{
    background-color: #d62e5e;
}


.coverletter{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 4px double var(--second-background-color);
    background-color: var(--third-red-color);
    color: var(--first-text-color);
    padding: 20px;
    font-size: 16px;
}