
body{
    background-image: url(assets/images/webpage-background.jpg);
    background-repeat: repeat-x;
}


.container{
    width: 800px;
}

.heading{
    background-image: url(assets/images/webpage-header.jpg);
}